#catalog{
    ul{
        list-style:none;
        max-height:420px;
        overflow-y:scroll;
    }

    li{
        display:inline-block;
        border-bottom: 1px solid #999;
        width:40%;
        margin:10px 20px 10px 60px;
        // padding:0 20px;
        float:left;

        &:nth-child(even){
            float:right;
            margin:10px 60px 10px 20px;
        }
    }

    .song-title{
        font-size:16px;
        float:left;
    }

    .song-artist{
        font-size:13px;
        float:right;
    }
}