.list-units-data{

    .units{
    	padding:10px 20px;
    	border-bottom:2px solid $colorBase;
    }

    .unit{
	    border-bottom:1px solid $colorBranding2;
	  }
    	
    .unit:last-child{
    	border-bottom:none;
    }

}