.list-unit{

    .list-header{
        background-color:$colorBranding3;
        color:#fff;
        padding:10px;
        border-bottom:1px solid darken($colorBranding3,5%);
    }

    .title{
        display:inline-block;
        font-size:16px;
        font-weight:bold;
    }

    .add-button{
        display:inline-block;
        float:right;
        cursor:pointer;
    }

    .icon:before{
        position:relative;
        top:2px;
        color:#fff;
    }

    .list-container{
        padding: 0 10px;
    }

    .list{
        list-style:none;
        padding: 0 10px 0 20px;
    }
}