
//--------------------------------------------------
//      [COLORS]
//--------------------------------------------------

$colorBase: #bababa;
$colorBaseLight: lighten($colorBase,10%);
$colorBaseDark: darken($colorBase,10%);

$colorBranding1: #ec0606;
$colorBranding2: #eef3f9;
$colorBranding3: #66c8e5;
$colorBranding4: #ec5959;
$colorBranding5: #0c7fea;

$colorOffwhite: #fbfbfb;