<div id="nav">
	<div class="container">
		<div class="nav-container">
			<span>Home</span>
			<span>Events</span>
			<span>About</span>
			<div class="divider"></div>
			<span>Catalog</span>
			<span>Social</span>
			<span>Store</span>	
		</div>
	</div>
	<!-- <div class="container left">
		<span class="title">Generation Cover</span>
	</div>
	<div class="container right">
		<span>Home</span>
		<span>About</span>
		<span>Events</span>
		<span>Media</span>
		<span>News</span>
		<span>Store</span>
	</div> -->
</div>