<div id="nav">
	<div class="container">
		<div class="nav-container">
			<span>Home</span>
			<span ng-click="scrollToId('events-section')">Events</span>
			<span ng-click="scrollToId('about-section')">About</span>
			<div class="divider"></div>
			<span ng-click="scrollToId('songs-section')">Catalog</span>
			<span ng-click="scrollToId('social-section')">Social</span>
			<span ng-click="goToExternalSite('https://www.facebook.com/Generationcover/photos_stream')">Media</span>	
		</div>
	</div>
	<!-- <div class="container left">
		<span class="title">Generation Cover</span>
	</div>
	<div class="container right">
		<span>Home</span>
		<span>About</span>
		<span>Events</span>
		<span>Media</span>
		<span>News</span>
		<span>Store</span>
	</div> -->
</div>